@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body{
  background-color: #f8f7f4;
  zoom: 1.25;
}
.badge-color-cycle {
  animation: badge-color-cycle 32s linear infinite;
}

@keyframes badge-color-cycle {
  0% { background-color: #ffda79; }
  25% { background-color: #79daff; }
  50% { background-color: #da79ff; }
  75% { background-color: #79ffda; }
  100% { background-color: #ffda79; }
}

